
<style>
    .navigation-link {
        color: white;
    }

        .navigation-link:hover {
            color: whitesmoke;
        }
</style>
<a class="navigation-link" href="">Home</a>
<ul>
    <li><a class="navigation-link" href="get_children">Define relationship through children</a></li>
    <li><a class="navigation-link" href="get_parent">Define relationship through parent</a></li>
    <li><a class="navigation-link" href="selection">Selectable items</a></li>
    <li><a class="navigation-link" href="customized_checkbox">Customized Checkbox</a></li>
    <li><a class="navigation-link" href="initially_collapsed">Initial collapse state</a></li>
    <li><a class="navigation-link" href="collapse_from_code">Collapse from code</a></li>
    <li><a class="navigation-link" href="item_template">Item template</a></li>
    <li><a class="navigation-link" href="sort">Sorted elements</a></li>
    <li><a class="navigation-link" href="filter">Filtered elements</a></li>
    <li><a class="navigation-link" href="lazy">Lazy loaded items</a></li>
    <li><a class="navigation-link" href="markup">Static markup tree views</a></li>
</ul>
<hr />
<div style="width: fit-content; margin-left: auto; margin-right: auto">
    <CommitLink />
</div>
