
<a href="">Home</a>
<ul>
    <li><a href="get_children">Define relationship through children</a></li>
    <li><a href="get_parent">Define relationship through parent</a></li>
    <li><a href="selection">Selectable items</a></li>
    <li><a href="customized_checkbox">Customized Checkbox</a></li>
    <li><a href="initially_collapsed">Initial collapse state</a></li>
    <li><a href="item_template">Item template</a></li>
    <li><a href="sort">Sorted elements</a></li>
    <li><a href="filter">Filtered elements</a></li>
</ul>
<div style="width: fit-content; margin-left: auto; margin-right: auto">
    <CommitLink />
</div>
