<li class="@TreeView?.ItemClass">
    <div style="@(Children.Any() || ContentIsCollapsable ? "cursor: pointer" : "")" @onclick="() => { Collapsed = !Collapsed; }" @onclick:stopPropagation>
        <svg viewBox="0 0 16 16" style="height: 1em; transform: rotate(@(Collapsed ? 0 : 90)deg);">
            <path d="M 4 2 l 7 6 l -7 6" stroke="@(Children.Any() || ContentIsCollapsable ? "black" : "transparent")" fill="transparent" stroke-width="2" />
        </svg>
        <span style="display: inline-block; vertical-align: middle;">@Label</span>
        <ul class="default-tree-view-ul @TreeView?.ListClass" style="display:@(Collapsed ? "none" : "block")">
            <CascadingValue Value="this" IsFixed="true">
                @ChildContent
            </CascadingValue>
        </ul>
    </div>
</li>

@code {

}
