
<h4>Material.Blazor</h4>

<button @onclick="() => { DoNotTouch = true; }">
    Please press only the checkbox
    <Material.Blazor.MBButton @onclick="() => { Value = !Value; }" @onclick:stopPropagation Label="Toggle value" />
    <span>@Value</span>
    @if (DoNotTouch)
    {
        <div>Too bad. Touched.</div>
    }
</button>
@code {
    public bool DoNotTouch { get; set; }
    public bool Value { get; set; }
}
@code {
    private static readonly object no_render = new object();
    private static readonly CheckboxFragment checkbox_template_material_blazor =
    CheckboxFragmentConverter.ToCheckboxFragment((value, indeterminate, value_changed, indeterminate_changed) =>
        (builder) =>
        {
            //builder.OpenElement(0, "div");
            //builder.AddAttribute(1, "style", "display: inline");
            //builder.AddEventStopPropagationAttribute(2, "onclick", true);
            builder.OpenComponent<Material.Blazor.MBCheckbox>(3);
            builder.AddAttribute(4, nameof(Material.Blazor.MBCheckbox.Value), value);
            builder.AddAttribute(5, nameof(Material.Blazor.MBCheckbox.ValueChanged), EventCallback.Factory.Create<bool>(no_render, value_changed));
            builder.AddAttribute(6, nameof(Material.Blazor.MBCheckbox.IsIndeterminate), indeterminate);
            builder.AddAttribute(7, nameof(Material.Blazor.MBCheckbox.IsIndeterminateChanged), EventCallback.Factory.Create<bool>(no_render, indeterminate_changed));
            builder.AddEventStopPropagationAttribute(8, "onclick", true);
            builder.CloseComponent();
            //builder.CloseElement();
        });
}

<TreeView Items="Items" GetParent="GetParent" AllowSelection="true" CheckboxTemplate="checkbox_template_material_blazor" />

@code {
    private List<string> Items = new List<string>
    {
        "1",
        "1.1",
        "1.2",
        "2",
        "3",
        "3.1",
        "3.1.1",
        "3.1.2"
    };
    private string GetParent(string item)
    {
        var last_period = item.LastIndexOf('.');
        if (last_period < 0)
        {
            return null; // no parent
        }
        else
        {
            return item.Substring(0, last_period);
        }
    }
}
