@page "/item_template"
<SourceCodeLink Repository="Blazor.TreeViews" Page="@nameof(CustomItemTemplate)" />

<TreeView Items="Nested" GetChildren="(item) => item.Children" ListClass="stronger-indent" ItemClass="red-border">
    <ItemTemplate>
        <div style="color: @context.Item.Color">@context.Item.Self</div>
    </ItemTemplate>
</TreeView>
<style>
    .stronger-indent {
        padding-inline-start: 2em;
    }

    .red-border {
        border: 1px solid red;
    }
</style>

@code {
    private static readonly List<Item> AllItems = new List<Item>
    {
        new Item
        {
            Self = "1",
            Color = "red",
            Children = new List<Item>
            {
                new Item
                {
                    Self = "1.1",
                    Color = "green"
                },
                new Item
                {
                    Self = "1.2",
                    Color = "orange"
                }
            }
        },
        new Item
        {
            Self = "2",
            Color = "blue"
        },
        new Item
        {
            Self = "3",
            Color = "forestgreen",
            Children = new List<Item>
            {
                new Item
                {
                    Self = "3.1",
                    Color = "forestgreen",
                    Children = new List<Item>
                    {
                        new Item
                        {
                            Self = "3.1.1",
                            Color = "forestgreen"
                        },
                        new Item
                        {
                            Self = "3.1.2",
                            Color = "forestgreen"
                        }
                    }
                },
            }
        }
    };
    private class Item
    {
        public string Self { get; set; }
        public string Color { get; set; }
        public List<Item> Children { get; set; }
    }
    private List<Item> Nested = AllItems.ToList();
}