@page "/selection"
<SourceCodeLink Repository="Blazor.TreeViews" Page="@nameof(Selection)" />

<div style="margin-bottom: 20px">
    <input id="disabled-trigger" type="checkbox" checked="@Disabled" @onclick="() => Disabled = !Disabled" />
    <label for="disabled-trigger">disabled</label>
</div>
<TreeView Disabled="Disabled" Items="Items" GetParent="GetParent" AllowSelection="true" @bind-SelectedItems="SelectedValues" />

@if (SelectedValues != null)
{
    @string.Join(", ", SelectedValues)
}


@code {
    private bool Disabled { get; set; }

    private List<string> SelectedValues = new List<string>
    {
        "3.1.1"
    };
    private List<string> Items = new List<string>
    {
        "1",
        "1.1",
        "1.2",
        "2",
        "3",
        "3.1",
        "3.1.1",
        "3.1.2"
    };
    private string GetParent(string item)
    {
        var last_period = item.LastIndexOf('.');
        if (last_period < 0)
        {
            return null; // no parent
        }
        else
        {
            return item.Substring(0, last_period);
        }
    }
}